-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: citas
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_citaadicionales`
--

DROP TABLE IF EXISTS `_citaadicionales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_citaadicionales` (
  `A` int(11) NOT NULL,
  `B` int(11) NOT NULL,
  UNIQUE KEY `_CitaAdicionales_AB_unique` (`A`,`B`),
  KEY `_CitaAdicionales_B_index` (`B`),
  CONSTRAINT `_CitaAdicionales_A_fkey` FOREIGN KEY (`A`) REFERENCES `citas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_CitaAdicionales_B_fkey` FOREIGN KEY (`B`) REFERENCES `servicios_adicionales` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_citaadicionales`
--

LOCK TABLES `_citaadicionales` WRITE;
/*!40000 ALTER TABLE `_citaadicionales` DISABLE KEYS */;
/*!40000 ALTER TABLE `_citaadicionales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_empleadoservicios`
--

DROP TABLE IF EXISTS `_empleadoservicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_empleadoservicios` (
  `A` int(11) NOT NULL,
  `B` int(11) NOT NULL,
  UNIQUE KEY `_EmpleadoServicios_AB_unique` (`A`,`B`),
  KEY `_EmpleadoServicios_B_index` (`B`),
  CONSTRAINT `_EmpleadoServicios_A_fkey` FOREIGN KEY (`A`) REFERENCES `empleados` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_EmpleadoServicios_B_fkey` FOREIGN KEY (`B`) REFERENCES `servicios` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_empleadoservicios`
--

LOCK TABLES `_empleadoservicios` WRITE;
/*!40000 ALTER TABLE `_empleadoservicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `_empleadoservicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES ('06458022-9852-43f2-b937-69cc19af1d0c','24b9653468a3e74c1e491a0b5cbe55be19766b25e7b0de495ebf5d6d1991fc88','2026-08-05 22:43:55.678','20260711183504_agregar_imagen_servicio',NULL,NULL,'2026-08-05 22:43:55.657',1),('c31c41f1-633f-458d-b869-a6315368dc54','a49a8cdfc5be636fd6ae51d6e0d552753d0c8ea5768dbac219d356b42321194f','2026-08-05 22:43:55.652','20260707171835_init',NULL,NULL,'2026-08-05 22:43:53.708',1);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citas`
--

DROP TABLE IF EXISTS `citas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `citas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `clienteId` int(11) NOT NULL,
  `empleadoId` int(11) NOT NULL,
  `servicioId` int(11) NOT NULL,
  `estadoCitaId` int(11) NOT NULL,
  `creadoPorUsuarioId` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `horaInicio` time NOT NULL,
  `horaFin` time NOT NULL,
  `duracionMinutos` int(11) NOT NULL,
  `precioServicio` decimal(10,2) NOT NULL,
  `costoAdicionales` decimal(10,2) NOT NULL DEFAULT 0.00,
  `costoTotal` decimal(10,2) NOT NULL,
  `observaciones` varchar(500) DEFAULT NULL,
  `motivoCancelacion` varchar(255) DEFAULT NULL,
  `creadoEn` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `actualizadoEn` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `citas_clienteId_idx` (`clienteId`),
  KEY `citas_empleadoId_idx` (`empleadoId`),
  KEY `citas_servicioId_idx` (`servicioId`),
  KEY `citas_estadoCitaId_idx` (`estadoCitaId`),
  KEY `citas_fecha_idx` (`fecha`),
  KEY `citas_empleadoId_fecha_horaInicio_idx` (`empleadoId`,`fecha`,`horaInicio`),
  KEY `citas_creadoPorUsuarioId_fkey` (`creadoPorUsuarioId`),
  CONSTRAINT `citas_clienteId_fkey` FOREIGN KEY (`clienteId`) REFERENCES `usuarios` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `citas_creadoPorUsuarioId_fkey` FOREIGN KEY (`creadoPorUsuarioId`) REFERENCES `usuarios` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `citas_empleadoId_fkey` FOREIGN KEY (`empleadoId`) REFERENCES `empleados` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `citas_estadoCitaId_fkey` FOREIGN KEY (`estadoCitaId`) REFERENCES `estados_cita` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `citas_servicioId_fkey` FOREIGN KEY (`servicioId`) REFERENCES `servicios` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citas`
--

LOCK TABLES `citas` WRITE;
/*!40000 ALTER TABLE `citas` DISABLE KEYS */;
/*!40000 ALTER TABLE `citas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dias_semana`
--

DROP TABLE IF EXISTS `dias_semana`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dias_semana` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(30) NOT NULL,
  `numeroOrden` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dias_semana_nombre_key` (`nombre`),
  UNIQUE KEY `dias_semana_numeroOrden_key` (`numeroOrden`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dias_semana`
--

LOCK TABLES `dias_semana` WRITE;
/*!40000 ALTER TABLE `dias_semana` DISABLE KEYS */;
INSERT INTO `dias_semana` VALUES (1,'Lunes',1),(2,'Martes',2),(3,'Mi├®rcoles',3),(4,'Jueves',4),(5,'Viernes',5),(6,'S├íbado',6),(7,'Domingo',7);
/*!40000 ALTER TABLE `dias_semana` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleados`
--

DROP TABLE IF EXISTS `empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuarioId` int(11) NOT NULL,
  `especialidadId` int(11) NOT NULL,
  `codigoEmpleado` varchar(30) NOT NULL,
  `descripcion` varchar(500) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `creadoEn` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `actualizadoEn` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `empleados_usuarioId_key` (`usuarioId`),
  UNIQUE KEY `empleados_codigoEmpleado_key` (`codigoEmpleado`),
  KEY `empleados_especialidadId_idx` (`especialidadId`),
  CONSTRAINT `empleados_especialidadId_fkey` FOREIGN KEY (`especialidadId`) REFERENCES `especialidades` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `empleados_usuarioId_fkey` FOREIGN KEY (`usuarioId`) REFERENCES `usuarios` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleados`
--

LOCK TABLES `empleados` WRITE;
/*!40000 ALTER TABLE `empleados` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especialidades`
--

DROP TABLE IF EXISTS `especialidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `especialidades` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `especialidades_nombre_key` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especialidades`
--

LOCK TABLES `especialidades` WRITE;
/*!40000 ALTER TABLE `especialidades` DISABLE KEYS */;
INSERT INTO `especialidades` VALUES (1,'General','Especialidad base para servicios y empleados generales.',1);
/*!40000 ALTER TABLE `especialidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_cita`
--

DROP TABLE IF EXISTS `estados_cita`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estados_cita` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `bloqueaDisponibilidad` tinyint(1) NOT NULL DEFAULT 1,
  `permiteCancelacionCliente` tinyint(1) NOT NULL DEFAULT 0,
  `permiteEdicion` tinyint(1) NOT NULL DEFAULT 1,
  `color` varchar(30) DEFAULT NULL,
  `orden` int(11) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `estados_cita_nombre_key` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_cita`
--

LOCK TABLES `estados_cita` WRITE;
/*!40000 ALTER TABLE `estados_cita` DISABLE KEYS */;
INSERT INTO `estados_cita` VALUES (1,'Pendiente','Cita registrada, pendiente de confirmaci├│n.',1,1,1,'amarillo',1,1),(2,'Confirmada','Cita confirmada por el establecimiento.',1,0,1,'azul',2,1),(3,'En proceso','Cita que se encuentra siendo atendida.',1,0,0,'morado',3,1),(4,'Finalizada','Cita atendida y finalizada.',0,0,0,'verde',4,1),(5,'Cancelada','Cita cancelada. No bloquea disponibilidad.',0,0,0,'rojo',5,1);
/*!40000 ALTER TABLE `estados_cita` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horarios_atencion`
--

DROP TABLE IF EXISTS `horarios_atencion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `horarios_atencion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `diaSemanaId` int(11) NOT NULL,
  `horaInicio` time NOT NULL,
  `horaFin` time NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `horarios_atencion_diaSemanaId_horaInicio_horaFin_key` (`diaSemanaId`,`horaInicio`,`horaFin`),
  CONSTRAINT `horarios_atencion_diaSemanaId_fkey` FOREIGN KEY (`diaSemanaId`) REFERENCES `dias_semana` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horarios_atencion`
--

LOCK TABLES `horarios_atencion` WRITE;
/*!40000 ALTER TABLE `horarios_atencion` DISABLE KEYS */;
/*!40000 ALTER TABLE `horarios_atencion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restricciones_horario`
--

DROP TABLE IF EXISTS `restricciones_horario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restricciones_horario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tipoRestriccionId` int(11) NOT NULL,
  `empleadoId` int(11) DEFAULT NULL,
  `fecha` date NOT NULL,
  `horaInicio` time DEFAULT NULL,
  `horaFin` time DEFAULT NULL,
  `todoElDia` tinyint(1) NOT NULL DEFAULT 0,
  `motivo` varchar(255) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `creadoEn` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `actualizadoEn` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `restricciones_horario_tipoRestriccionId_idx` (`tipoRestriccionId`),
  KEY `restricciones_horario_empleadoId_idx` (`empleadoId`),
  KEY `restricciones_horario_fecha_idx` (`fecha`),
  CONSTRAINT `restricciones_horario_empleadoId_fkey` FOREIGN KEY (`empleadoId`) REFERENCES `empleados` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `restricciones_horario_tipoRestriccionId_fkey` FOREIGN KEY (`tipoRestriccionId`) REFERENCES `tipos_restriccion_horario` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restricciones_horario`
--

LOCK TABLES `restricciones_horario` WRITE;
/*!40000 ALTER TABLE `restricciones_horario` DISABLE KEYS */;
/*!40000 ALTER TABLE `restricciones_horario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_nombre_key` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrador','Usuario con acceso completo al sistema.',1),(2,'Empleado','Usuario encargado de atender citas asignadas.',1),(3,'Cliente','Usuario que puede consultar sus citas y cancelarlas cuando corresponda.',1);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicios`
--

DROP TABLE IF EXISTS `servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `descripcion` varchar(500) NOT NULL,
  `precioBase` decimal(10,2) NOT NULL,
  `duracionMinutos` int(11) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `especialidadId` int(11) NOT NULL,
  `creadoEn` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `actualizadoEn` datetime(3) NOT NULL,
  `imagen` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `servicios_nombre_key` (`nombre`),
  KEY `servicios_especialidadId_idx` (`especialidadId`),
  CONSTRAINT `servicios_especialidadId_fkey` FOREIGN KEY (`especialidadId`) REFERENCES `especialidades` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios`
--

LOCK TABLES `servicios` WRITE;
/*!40000 ALTER TABLE `servicios` DISABLE KEYS */;
INSERT INTO `servicios` VALUES (1,'Examen de la vista','Evaluaci├│n completa de agudeza visual y salud ocular',15000.00,30,1,1,'2026-08-06 03:13:07.192','2026-08-06 03:13:07.192',NULL),(2,'Ajuste de armaz├│n','Ajuste y calibraci├│n de monturas para mayor comodidad',5000.00,15,1,1,'2026-08-06 03:15:58.665','2026-08-06 03:15:58.665',NULL),(3,'Reposici├│n de lentes','Cambio de micas por graduaci├│n nueva o da├▒o',25000.00,45,1,1,'2026-08-06 03:17:21.329','2026-08-06 03:17:21.329',NULL);
/*!40000 ALTER TABLE `servicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicios_adicionales`
--

DROP TABLE IF EXISTS `servicios_adicionales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicios_adicionales` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `descripcion` varchar(500) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `creadoEn` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `actualizadoEn` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `servicios_adicionales_nombre_key` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios_adicionales`
--

LOCK TABLES `servicios_adicionales` WRITE;
/*!40000 ALTER TABLE `servicios_adicionales` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicios_adicionales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_restriccion_horario`
--

DROP TABLE IF EXISTS `tipos_restriccion_horario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_restriccion_horario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(80) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tipos_restriccion_horario_nombre_key` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_restriccion_horario`
--

LOCK TABLES `tipos_restriccion_horario` WRITE;
/*!40000 ALTER TABLE `tipos_restriccion_horario` DISABLE KEYS */;
INSERT INTO `tipos_restriccion_horario` VALUES (1,'General del establecimiento','Restricci├│n que afecta a todos los empleados del establecimiento.'),(2,'Espec├¡fica de empleado','Restricci├│n que afecta ├║nicamente a un empleado espec├¡fico.'),(3,'Parcial por horas','Restricci├│n aplicada a un rango espec├¡fico de horas.'),(4,'D├¡a completo','Restricci├│n que bloquea todo el d├¡a seleccionado.');
/*!40000 ALTER TABLE `tipos_restriccion_horario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `primerApellido` varchar(100) NOT NULL,
  `segundoApellido` varchar(100) DEFAULT NULL,
  `correo` varchar(150) NOT NULL,
  `telefono` varchar(25) DEFAULT NULL,
  `passwordHash` varchar(255) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `rolId` int(11) NOT NULL,
  `creadoEn` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `actualizadoEn` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuarios_correo_key` (`correo`),
  KEY `usuarios_rolId_idx` (`rolId`),
  CONSTRAINT `usuarios_rolId_fkey` FOREIGN KEY (`rolId`) REFERENCES `roles` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Administrador','Sistema',NULL,'admin@citas.com','88888888','$2b$10$9FVKxsZZbn7WXQGQOXaUROv40f/nDMHYEjbLqqc52oYKd9pWl/Gxa',1,1,'2026-08-05 22:49:17.291','2026-08-05 22:49:17.291');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-16 21:39:02
